html {
    height: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
body {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}
main {
    flex: 1 0 auto;
}
.select2 {
    width: 100%;
}
.card-image-size {
  width: 35% !important;
  height: auto;
}
.card-title {
  left: none;
  right: 0;
    
}
.card a {
  text-decoration: underline;
}
